<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <h1 class="product-title">Products</h1>
            <ul class="product-list">
                <% for (const product of prods) { %>
                    <a href="/products/<%= product.id %>" class="product-detail">
                        <li class="product-list__item">
                            <h2 class="product-item__title"><%= product.title %></h2>
                            <h3 class="product-item__price">$ <%= product.price %></h3>
                            <%- include('../includes/add-cart.ejs', { product: product }) %>
                        </li>
                    </a>
                <% } %>
            </ul>
        <% } else { %>
            <h1>There is no products...</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>